.navbar{
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon{
  margin-right:6px;
}

.hero{
  background:url(../../assets/img/1.jpg) no-repeat center;
  background-size:cover;
  border:none;
  height:500px;
}
h2{
  color:#DEDEDE;
}

h3{
  color:#DEDEDE;
}
nav.navbar.navbar-default{
  padding:20px 0;
  background-color:white;
}

a.navbar-brand.navbar-link{
  padding:0;
}

input.form-control.lokasi{
  width:60%;
}

button.btn.btn-default.btn-search{
  color:white;
  background-color:#6FCF97;
  height:50px;
  margin-left:10px;
  padding:15px 20px;
  border:solid 1px #6FCF97;
}

select.information{
  width:100%;
  background-color:transparent;
  color:#6FCF97;
  height:50px;
  border:solid 3px #6FCF97;
  border-radius:3px;
}

input.lokasi{
  border-radius:3px;
  width:80%;
  height:50px;
  background-color:transparent;
  color:#6FCF97;
  padding-right:10px;
  border:solid 3px #6FCF97;
}

h2.text-center{
  color:#6FCF97;
}

div.line{
  background-color:#6FCF97;
  height:3px;
  width:50px;
  display:inline-table;
}

div.col-md-12.top{
  text-align:center;
  padding-bottom: 15px;
}

li.register a{
  background-color:#6FCF97;
}

li.register a{
  color:whi;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color:transparent;
}

.navbar-default .navbar-nav > li.register > a{
  color:white;
}

.navbar-default .navbar-nav > li > a{
  color:#6FCF97;
}

.navbar-nav > li > a{
  padding-top:10px;
  padding-bottom:10px;
  line-height:20px;
}

div.jumbotron.hero > h3{
  margin-bottom:2em;
}

div.col-md-6.input-left{
/*  margin-top:2em;*/
}

div.col-md-6.col-sm-6.input-right{
/*  margin-top:2em;*/
}

img.img-responsive{
  width:100%;
  height:300px;
  max-height:300px;
  max-width:350PX;
}

div.col-md-4.box-img-place{
  padding:25px 15px;
}

a.filter-img-artikel{
  width:300px;
  height:200px;
}

div.filter-box{
  height:auto;
  overflow:hidden;
  padding:0;
}

div.filter-img-place{
  height:30%;
  position:absolute;
  width:100%;
  left:0;
  text-align:center;
  background-color:rgba(18,24,20,0.8);
  margin-right:30px;
  bottom:0;
  padding:25PX 0 0 0;
  transition:0.5s;
}
div.filter-img-place h3{
  margin:0;
  color:#DEDEDE;
  transition:0.5s;
  
}
.main-service div.filter-img-place h3{
  margin:0;
  color:#DEDEDE;
  transition:0.5s;
  display: none;
}

section.main-service{
  height:auto;
  background-color:white;
}

div.col-md-12.get-more{
  text-align:center;
}

button.btn.btn-default.get-more{
  background-color:#6FCF97;
  border:solid #6FCF97 1px;
}

a.btn.get-more{
  background-color:#6FCF97;
  color:white;
  border:solid 1px #6FCF97;
  padding:10px 100px;
}

option.opsi{
  height:50px;
  color:#6FCF97;
  background-color:transparent;
}

optgroup{
}

div.container.container-place{
  padding:15px 2em;
}

img{
  width:40px;
}

div.filter-img-place:hover{
  height:100%;
  padding-top:9em;
  text-align:center;
}

a.btn.btn-read-place{
  margin-top:2em;
  border:solid 3px #6FCF97;
  background-color:transparent;
  display:none;
  transition:0.5s;
  border-radius:10px;
  color:#6FCF97;
}

h3.text-center{
}

div.filter-img-artikel.hover h3{
}

div.filter-img-artikel.hover h3{
  color:#6FCF97;
}

div.filter-img-place:hover h3{
  color:#6FCF97;
  display: block;
}

div.filter-img-artikel:hover a.btn.btn-read-place{
  display:block;
  display:inline-table;
}

div.filter-img-place:hover a.btn.btn-read-place{
  display:block;
  display:inline-table;
}


h2.text-center.text-top{
  position:absolute;
  top:0;
  width:100%;

  color:#6FCF97;
  z-index:1000;
}
div.filter-img-place:hover  h2.text-center.text-top{
  color: white;
}


div.col-md-4.box-img-service{
  padding:25px 15px;
  text-align:center;
}

div.col.col-md-12.col-sm-12.col-xs-12.testimoni-box{
  background-color:#CEF5DE;
  border:solid 2px #939C96;
  border-radius:10px;
  padding:15px;
  height:auto;
  max-height:100px;
  color:#939C96;
}

section.testimoni{
  background-color:#6FCF97;
}

div.col-md-12.top-white h2.text-ce{
}

div.col-md-12.top-white h2.text-center{
  color:white;
}

div.col-md-12.top-white div.line{
  background-color:white;
  display:inline-table;
}

div.col-md-12.top-white{
  text-align:center;
  padding-bottom: 15px;
}

img.img-responsive.img-client{
  width:70px;
  height:70px;
  border-radius:50%;
  float:right;
}

div.col.col-md-6.col-sm-6.col-xs-6.client-box h3{
}

div.col.col-md-8.col-sm-8.col-xs-8.client-box h2{
  color:black;
  margin:5px;
}

div.col.col-md-6.col-sm-6.col-xs-6.client-box h3{
  color:#CEF5DE;
  margin:5px;
}

div.col.col-md-4.col-sm-4.col-xs-4.img-client-box{
  text-align:right;
  padding:15px;
}

div.col.col-md-8.col-sm-8.col-xs-8.client-box h4{
  margin:0;
  color:#CEF5DE;
}

div.col.col-md-8.col-sm-8.col-xs-8.client-box h3{
  color:#4F4F4F;
  margin:0;
}

div.col.col-md-8.col-sm-8.col-xs-8.client-box{
  padding:15px;
}

img.img-artikel{
  width:100%;
}

a.read-more-artikel{
  float:right;
  color:#6FCF97;
  text-decoration:none;
  border-bottom:solid 2px #6FCF97;
}

div.col.col-md-9.col-sm-9.col-xs-9.box-artikel h3{
  margin:0 0 10px 0;
  color:#6FCF97;
}

div.col.col-md-8.col-sm-8.col-xs-8.box-artikel p{
  color:#939C96;
}

div.col.col-md-12.col-sm-12.col-xs-12.list-artikel{
  border-bottom:solid 2px #939C96;
  padding:0;
  padding-bottom:2em;
  margin-bottom:15px;
}

div.col.col-md-3.col-sm-3.col-xs-3.box-img{
  padding:0;
}

div.row.footer-top h3{
  color:#6FCF97;
}

div.row.footer-top p{
  color:#E7EFEB;
}

div.row.footer-top ul{
  color:#E7EFEB;
}

div.row.footer-top{
  border-bottom:solid 2px #E7EFEB;
}

img.banner-artikel{
  width:100%;
}

div.col-md-12.filter-input{
}
div.row.filter-input-search{
  background-color:white;
  padding:5em 15px 5.5em 15px;
}

section.search-place{
  margin-top:-15em;
  padding:0;
}
div.container.container-input-search{
  padding:30px 30px 0px 30px;
}
body{
  background-color:#E7EFEB;
}

section.artikel{
  background-color:white;
}


.navbar-default .navbar-nav>li>a{
  margin: 0 5px;
  transition: 0.5s;
  border-top: solid 2px transparent;
   border-bottom: solid 2px transparent;
}
.navbar-default .navbar-nav>li.menu>a:hover{
  
  border-top: solid 2px #6FCF97;
   border-bottom: solid 2px #6FCF97;
   color: #6FCF97;
}
.navbar-default .navbar-nav>li.menu>a:focus{
  border-top: solid 2px #6FCF97;
   border-bottom: solid 2px #6FCF97;
   color: #6FCF97;
}
.navbar-default .navbar-nav>li.register>a:hover{
  background-color:#6FCF97;
  color: white; 
  box-shadow: 1px 2px #888888;
}
.navbar-default .navbar-nav>li.register>a:focus{
  background-color:#6FCF97;
  color: white; 
  box-shadow: 1px 2px #888888;
}

/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color:#6FCF97;
  background-color:transparent;
}*/


div.col-md-12.foot-bottom{
  text-align:center;
}

ul.list-unstyled li span.icon{
  margin-right:15px;
}

section{
  padding:2em 0 3em 0;
}

div.col.col-md-12.get=more-artikel{
  text-align:right;
}

div.col.col-md-12.get-more-artikel{
  text-align:right;
}

a.btn.btn-get-more-artikel{
  color:#6FCF97;
  border-bottom:solid 2px #6FCF97;
  padding:5px 0;
}

img.img-responsive{
  width:100%;
  max-width:100%;
}

div.col-md-6.col-sm-6.input-left h2{
  margin:0 0 5px 0;
  color:#6FCF97;
}

div.col-md-6.col-sm-6.input-right h2{
  color:#6FCF97;
  margin:0 0 5px 0;
}
.site-footer{
  background-color: black;
}
.site-footer h5{
  color:#E7EFEB;
  font-size:20px;
  text-align:center;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}


@media (max-width:1199px) {
  input.lokasi{
    width:75%;
  }
  div.col.col-md-12.col-sm-12.col-xs-12.list-artikel{
    padding-bottom:15px;
  }
  div.container.container-input-search{
  padding:30px 30px 0px 30px;
}
div.col-md-6.col-sm-6.input-right h2,
div.col-md-6.col-sm-6.input-left h2{
  font-size: 24px;
}
}
@media (max-width:991px) {
  input.lokasi{
    width:65%;
  }
  img.banner-artikel{
    display:none;
  }
   div.col.col-md-12.get-more-artikel{
    text-align:center;
  }
  div.col-md-6.col-sm-6.input-right h2,
div.col-md-6.col-sm-6.input-left h2{
  font-size: 18px;
}
img.img-responsive{
  width:100%;
  height:200px;
  max-height:200px;
  max-width:2o0PX;
}
div.filter-img-place{
  padding-top: 10px;
}
div.filter-img-place h3{
  font-size: 16px;
}
div.filter-img-place:hover{
  padding-top: 3em;
}
div.filter-img-place:hover a.btn.btn-read-place{
  font-size: 10px;
}
h2.text-center.text-top{
  margin-top: 10px;
  font-size: 18px;
}
}

@media (min-width:992px) {
  .hero .get-it{
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
   .hero .get-it{
    text-align:center;
  }
  .hero .phone-preview{
    text-align:center;
  }
  .hero .get-it h1, .hero .get-it p{
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn{
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup{
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon{
  font-size:60px;
}

section.features{
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2{
  color:#fff;
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.place{
  margin:0px 0;
  background-color:#e4f4ea;
}

.site-footer{
  padding:5em 0 3em 0;
  background-color:#101010;
}
}
@media (max-width:767px) {

element.style {
}
div.col-md-12.filter-input h2{
  font-size: 24px;
}
div.col-md-12.filter-input h3{
  font-size: 18px;
}
.navbar-default .navbar-nav>li.menu>a{

  border:none;

}
.navbar-default .navbar-nav>li.menu>a:hover{
  background-color: #6FCF97;
  color: white;
  border:none;

}
  .logo{
    width: 40px;
    margin-left: 15px;
  }
  .site-footer h5{
    color:#E7EFEB;
    font-size:20px;
    text-align:left;
  }

.site-footer h5{
  color:#E7EFEB;
  font-size:20px;
  text-align:center;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}
 .site-footer .social-icons{
    text-align:left;
  }
   img{
    width:50px;
  }
   div.container.container-input-search{
    padding:15px 3em;
  }
   input.lokasi{
    width:60%;
  }
   div.col-lg-6.col-md-6.col-sm-6.col-xs-12.filter-img-banner{
    display:none;
  }
   div.col-md-12.foot-bottom{
    text-align:center;
  }
    a.btn.get-more{
    padding:5px 10px;
  }
  div.col.col-md-12.col-sm-12.col-xs-12.list-artikel .box-artikel p{
    font-size: 12px;
    margin:0;
  }
  div.col.col-md-9.col-sm-9.col-xs-9.box-artikel h3{
    margin:0;
  }
}

