
.title-page-news{
  padding-bottom: 12;
}
    .content-foto{
        margin-top: 6em;
    }
        .line{
        width: 100px;
        height: 3px;
        background-color:#BD0E0E;
        display: inline-table; 
    }
    .text-title{
            position: absolute;
    z-index: 10;
    bottom: 0;
    font-weight: bold;
    color: #E91515;
    transition: 0.8s;
    }
    div.box:hover .text-title,
    div.box:active .text-title,
    div.box:focus .text-title
    {
        margin-bottom: 50%;
        color: white;

    }

      .header-title{
        font-size: 50px;color: #BDBDBD;margin-bottom: 1em;
      }
     .filter-title-page-news{
        margin-top: 5em;
      }
        #img-page .carousel-top .carousel{
          padding: 0 2em;
          margin-top: -11em;
        }
        #img-page .slide-control{
          font-size: 50px;
          position: absolute;
        }
         #img-page .slide-control.left{
          left: -10px;
          top: 50%;
         }
         #img-page  .slide-control.right{
          right: -10px;
          top: 50%;
         }
        #img-page  .carousel-top .img-slider{
          
           box-shadow:1px 1px 48px 4px #bdbdbd;
         }
         #img-page .carousel-top .carousel-inner{
          
         }
        #img-page .carousel-top  .content-img-top-left{
          padding-top: 3em;
         }
         #img-page .carousel-top .carousel-indicators{
          text-align: center;
          bottom: -4em;
          left: 50%;
         }
         #img-page .carousel-top .carousel-indicators li{
          border: solid 1px #D10909;
         }
         #img-page .carousel-top .carousel-indicators .active{
          background-color:  #D10909;
         }
          div.container-fluid.album-galery {
          padding-top: 2em;
          margin-top: 8em;
          padding-bottom: 3em;
          background-color: #F2F2F2;
         }
          .album-galery .line-galery{
          display: inline-block;width: 100px;height: 3px;background-color:#D10909;margin-bottom: 2em; 
         }
         #img-page .content-img-top-left{
          padding-left: 8em;
          padding-top: 1em;
         }
        #img-page  .album-galery .galery-deskripsi{
          padding: 1em 0;
         }
         .img-galery .owl-buttons{
          position: absolute;
          top: 48%;
          width: 100%;
         }
         .img-page .owl-controls .owl-page, .owl-controls .owl-buttons div{
          display: inline-block;
          position: absolute;
         }
         .img-galery .owl-buttons .owl-prev{
          left: 0;
          float: left;
          margin-left: -60px;
           background-color: white;
          padding:15px 10px ;
          border-radius: 50%;
           box-shadow:0px 0px 10px 0px #bdbdbd;
           color: #747474;
           font-weight: 600;

         }
        .img-galery  .owl-buttons .owl-next{
          right: 0;
          float: right;
          margin-right: -60px;
          background-color: white;
          padding:15px 10px ;
          border-radius: 50%;
           box-shadow:0px 0px 10px 0px #bdbdbd;
           color: #747474;
           font-weight: 600;
         }
            .img-galery .owl-buttons .owl-prev:hover{
          left: 0;
          float: left;
          margin-left: -60px;
           background-color: white;
          padding:15px 10px ;
          border-radius: 50%;
           box-shadow:0px 0px 20px 0px #bdbdbd;
           color: #747474;
           font-weight: 600;

         }
        .img-galery  .owl-buttons .owl-next:hover{
          right: 0;
          float: right;
          margin-right: -60px;
          background-color: white;
          padding:15px 10px ;
          border-radius: 50%;
           box-shadow:0px 0px 20px 0px #bdbdbd;
           color: #747474;
           font-weight: 600;
         }
         #img-page .carousel-inner{
           box-shadow:0px 0px 38px 0px #bdbdbd;
         }
         #img-page .filter-img-galery{
          cursor: pointer;
         }
         .modal-album .modal-footer .carousel-indicators{
                position:relative; 
                bottom: 10px;
                left: 0;
                z-index: 15;
                width: 100%;
                padding-left: 15px;
                margin-left: 0;
                text-align: left;
                list-style: none;
         }
         .modal-album .modal-dialog{
          width: 1100px;
          margin-top: 10px;
         }
         .modal-album .modal-header{
          padding-left: 4em;
          box-shadow:1px 1px 15px -2px rgba(0,0,0,0.75);
         }
         .modal-album .modal-body{
          padding: 30px 15em;
         }
         .modal-album .modal-footer{
          padding: 20px 15px;
          background-color: #F2F2F2;
         }
         .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 24em;
          height: auto;
         }
         @media(max-width:1110px){
           .modal-album .modal-dialog{
          width: 900px;
          margin-top: 10px;
         }
               .modal-album .modal-footer .carousel-indicators{
                position:relative; 
                bottom: 10px;
                left: 0;
                z-index: 15;
                width: 100%;
                padding-left: 15px;
                margin-left: 0;
                text-align: center;
                list-style: none;
         }
          .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 19em;
          height: auto;
         }
         }
           @media(max-width:1000px){
           .modal-album .modal-dialog{
          width: 600px;
          margin-top: 10px;
         }
               .modal-album .modal-footer .carousel-indicators{
                position:relative; 
                bottom: 10px;
                left: 0;
                z-index: 15;
                width: 100%;
                padding-left: 15px;
                margin-left: 0;
                text-align: center;
                list-style: none;
         }
          .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 15em;
          height: auto;
         }
         .modal-album .modal-body{
          padding: 30px 5em;
         }
         #img-page .carousel-top .carousel{
          margin-top: 0;
         }
         #img-page .content-img-top-left{
          padding: 25px;
         }
          #img-page .slide-control.left{
          top: 60%;
         }
          #img-page .slide-control.right{
          top: 60%;
         }
         }
          @media(max-width:600px){
           .modal-album .modal-dialog{
          width: 450px;
          margin-top: 10px;
         }}
          @media(max-width:500px){
           .modal-album .modal-dialog{
          width: 400px;
          margin-top: 10px;
         }
               .modal-album .modal-footer .carousel-indicators{
                position:relative; 
                bottom: 10px;
                left: 0;
                z-index: 15;
                width: 100%;
                padding-left: 15px;
                margin-left: 0;
                text-align: center;
                list-style: none;
         }
          .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 10em;
          height: auto;
         }
         .modal-album .modal-body{
          padding: 30px 15px;
         }
         #img-page .slide-control.left{
          top: 60%;
         }
          #img-page .slide-control.right{
          top: 60%;
         }
         .img-galery .owl-buttons .owl-next{
          margin-right: 0;
         }
         .img-galery .owl-buttons .owl-prev{
          margin-left: 0;
         }
         #img-page .slide-control.left{
          margin-left: 10px;
         }
          #img-page .slide-control.right{
          margin-right: 10px;
         }
         .replace-title{
          font-size: 20px;
         }
         .galery-deskripsi h3{
          font-size: 19px;
         }
         .text-img-page{
          font-size: 21px;
         }
         div.header-title h1{
          font-weight: bold;
         }
         .header-title h1{
          margin-bottom: 0;
         }
         .modal-album .modal-header{
          padding: 15px;
         }
         }
        @media(max-width:400px){
          .header-title{
        font-size: 24px;color: #BDBDBD;margin-bottom: 1em;
      }
           .modal-album .modal-dialog{
          width: 350px;
          margin-top: 10px;
         }
         .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 6em;
          }}
           @media(max-width:360px){
           .modal-album .modal-dialog{
          width: 340px;
          margin-top: 10px;
         }
       .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 8em;
          }}
         /* The Modal (background) */





/*.title-page-news{
  padding-bottom: 12;
}
    .content-foto{
        margin-top: 6em;
    }
        .line{
        width: 100px;
        height: 3px;
        background-color:#BD0E0E;
        display: inline-table; 
    }
    .text-title{
            position: absolute;
    z-index: 10;
    bottom: 0;
    font-weight: bold;
    color: #E91515;
    transition: 0.8s;
    }
    div.box:hover .text-title,
    div.box:active .text-title,
    div.box:focus .text-title
    {
        margin-bottom: 50%;
        color: white;

    }

      .header-title{
        font-size: 50px;color: #BDBDBD;margin-bottom: 1em;
      }
     .filter-title-page-news{
        margin-top: 5em;
      }
        #img-page .carousel-top .carousel{
          padding: 0 2em;
          margin-top: -11em;
        }
        #img-page .slide-control{
          font-size: 50px;
          position: absolute;
        }
         #img-page .slide-control.left{
          left: -10px;
          top: 50%;
         }
         #img-page  .slide-control.right{
          right: -10px;
          top: 50%;
         }
        #img-page  .carousel-top .img-slider{
          
           box-shadow:1px 1px 48px 4px #bdbdbd;
         }
         #img-page .carousel-top .carousel-inner{
          
         }
        #img-page .carousel-top  .content-img-top-left{
          padding-top: 3em;
         }
         #img-page .carousel-top .carousel-indicators{
          text-align: center;
          bottom: -4em;
          left: 50%;
         }
         #img-page .carousel-top .carousel-indicators li{
          border: solid 1px #D10909;
         }
         #img-page .carousel-top .carousel-indicators .active{
          background-color:  #D10909;
         }
          div.container-fluid.album-galery {
          padding-top: 2em;
          margin-top: 8em;
          padding-bottom: 3em;
          background-color: #F2F2F2;
         }
          .album-galery .line-galery{
          display: inline-block;width: 100px;height: 3px;background-color:#D10909;margin-bottom: 2em; 
         }
         #img-page .content-img-top-left{
          padding-left: 8em;
          padding-top: 1em;
         }
        #img-page  .album-galery .galery-deskripsi{
          padding: 1em 0;
         }
         .img-galery .owl-buttons{
          position: absolute;
          top: 48%;
          width: 100%;
         }
         .img-page .owl-controls .owl-page, .owl-controls .owl-buttons div{
          display: inline-block;
          position: absolute;
         }
         .img-galery .owl-buttons .owl-prev{
          left: 0;
          float: left;
          margin-left: -60px;
           background-color: white;
          padding:15px 10px ;
          border-radius: 50%;
           box-shadow:0px 0px 10px 0px #bdbdbd;
           color: #747474;
           font-weight: 600;

         }
        .img-galery  .owl-buttons .owl-next{
          right: 0;
          float: right;
          margin-right: -60px;
          background-color: white;
          padding:15px 10px ;
          border-radius: 50%;
           box-shadow:0px 0px 10px 0px #bdbdbd;
           color: #747474;
           font-weight: 600;
         }
            .img-galery .owl-buttons .owl-prev:hover{
          left: 0;
          float: left;
          margin-left: -60px;
           background-color: white;
          padding:15px 10px ;
          border-radius: 50%;
           box-shadow:0px 0px 20px 0px #bdbdbd;
           color: #747474;
           font-weight: 600;

         }
        .img-galery  .owl-buttons .owl-next:hover{
          right: 0;
          float: right;
          margin-right: -60px;
          background-color: white;
          padding:15px 10px ;
          border-radius: 50%;
           box-shadow:0px 0px 20px 0px #bdbdbd;
           color: #747474;
           font-weight: 600;
         }
         #img-page .carousel-inner{
           box-shadow:0px 0px 38px 0px #bdbdbd;
         }
         #img-page .filter-img-galery{
          cursor: pointer;
         }
         .modal-album .modal-footer .carousel-indicators{
                position:relative; 
                bottom: 10px;
                left: 0;
                z-index: 15;
                width: 100%;
                padding-left: 15px;
                margin-left: 0;
                text-align: left;
                list-style: none;
         }
         .modal-album .modal-dialog{
          width: 1100px;
          margin-top: 10px;
         }
         .modal-album .modal-header{
          padding-left: 4em;
          box-shadow:1px 1px 15px -2px rgba(0,0,0,0.75);
         }
         .modal-album .modal-body{
          padding: 30px 15em;
         }
         .modal-album .modal-footer{
          padding: 20px 15px;
          background-color: #F2F2F2;
         }
         .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 24em;
          height: auto;
         }
         @media(max-width:1110px){
           .modal-album .modal-dialog{
          width: 900px;
          margin-top: 10px;
         }
               .modal-album .modal-footer .carousel-indicators{
                position:relative; 
                bottom: 10px;
                left: 0;
                z-index: 15;
                width: 100%;
                padding-left: 15px;
                margin-left: 0;
                text-align: center;
                list-style: none;
         }
          .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 19em;
          height: auto;
         }
         }
           @media(max-width:1000px){
           .modal-album .modal-dialog{
          width: 600px;
          margin-top: 10px;
         }
               .modal-album .modal-footer .carousel-indicators{
                position:relative; 
                bottom: 10px;
                left: 0;
                z-index: 15;
                width: 100%;
                padding-left: 15px;
                margin-left: 0;
                text-align: center;
                list-style: none;
         }
          .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 15em;
          height: auto;
         }
         .modal-album .modal-body{
          padding: 30px 5em;
         }
         #img-page .carousel-top .carousel{
          margin-top: 0;
         }
         #img-page .content-img-top-left{
          padding: 25px;
         }
          #img-page .slide-control.left{
          top: 60%;
         }
          #img-page .slide-control.right{
          top: 60%;
         }
         }
          @media(max-width:600px){
           .modal-album .modal-dialog{
          width: 450px;
          margin-top: 10px;
         }}
          @media(max-width:500px){
           .modal-album .modal-dialog{
          width: 400px;
          margin-top: 10px;
         }
               .modal-album .modal-footer .carousel-indicators{
                position:relative; 
                bottom: 10px;
                left: 0;
                z-index: 15;
                width: 100%;
                padding-left: 15px;
                margin-left: 0;
                text-align: center;
                list-style: none;
         }
          .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 10em;
          height: auto;
         }
         .modal-album .modal-body{
          padding: 30px 15px;
         }
         #img-page .slide-control.left{
          top: 60%;
         }
          #img-page .slide-control.right{
          top: 60%;
         }
         .img-galery .owl-buttons .owl-next{
          margin-right: 0;
         }
         .img-galery .owl-buttons .owl-prev{
          margin-left: 0;
         }
         #img-page .slide-control.left{
          margin-left: 10px;
         }
          #img-page .slide-control.right{
          margin-right: 10px;
         }
         .replace-title{
          font-size: 20px;
         }
         .galery-deskripsi h3{
          font-size: 19px;
         }
         .text-img-page{
          font-size: 21px;
         }
         div.header-title h1{
          font-weight: bold;
         }
         .header-title h1{
          margin-bottom: 0;
         }
         .modal-album .modal-header{
          padding: 15px;
         }
         }
        @media(max-width:400px){
          .header-title{
        font-size: 24px;color: #BDBDBD;margin-bottom: 1em;
      }
           .modal-album .modal-dialog{
          width: 350px;
          margin-top: 10px;
         }
         .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 6em;
          }}
           @media(max-width:360px){
           .modal-album .modal-dialog{
          width: 340px;
          margin-top: 10px;
         }
       .modal-album .modal-footer .carousel-indicators .thumbnail-indicator{
          width: 8em;
          }}
         /* The Modal (background) */


      </style>*/
