h1, h2, h3, h4, h5, h6{
  margin:5px 0;
}

.none-padding{
  padding:0;
}

.bold{
  font-weight:700;
}

section.page_gabung{
  background-image:url(../images/logo/bg-gabung.min.jpg);
  height:400px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 7em;
}
.page_gabung .content-left-gabung{
  padding: 0 3em;
  float: left;
}
.page_gabung .logo-login img{
  width: 150px;
}

.page_gabung .content-right-gabung{
  color:white;
  padding-top: 3.5em;
  float: right;
}

.page_gabung h1.title-content{
  font-size:46px;
  font-weight:300;
  margin-bottom: 30px;
}

.page_gabung div.action{
  padding-top:2em;
}

 a{
  color:black;
  text-decoration:none;
}

.page_gabung div.action a{
  margin-top:1em;
  padding:10px 25px;
  background-color:white;
  color:#CF090A;
}

.page_gabung div.action a:hover, div.action a:active, div.action a:focus{
  background-color:rgb(245,242,242);
  color:#CF090A;
}

 div.container-fluid.bg-white{
  background-color:white;
  height:10em;
}
.page_gabung .filter-form {
  background-color: white;
  padding: 1em;
padding: 3em 2em;
  box-shadow:0px 0px 48px 0px #000000;
  margin-top:-3em;
  height: auto;
  overflow: hidden;
}
.page_gabung .title-form{
  margin-top: 2em;
  border-left: solid 3px #CF090A;
  padding-left:  20px;
  color: #989898;
  font-weight: 400;
}
 .page_gabung .btn-submit {
  padding: 10px 20px;
 }
 .page_gabung .action-footer{
  margin-top: 2.5em;
 }

/*style page registrasi*/
section.page_register{
  background-image:url(../images/logo/bg-register.min.jpg);
  height:600px;
  font-family: 'Roboto', sans-serif;
      background-position: -40em -4.5em;
     background-repeat: repeat-x;
}
.page_register .content-left-register{
  padding:4em 1em;
}
.page_register .logo-login img{
  width: 150px;
}

.page_register .content-right-register{
  color:white;
  padding-top: 3.5em;
}

.page_register h1.title-content{
  font-size:46px;
  font-weight:300;
  margin-top: 5em;

}

.page_register div.action{
  padding-top:2em;
}

 a{
  color:black;
  text-decoration:none;
}

.page_register div.action a{
  margin-top:1em;
  padding:10px 25px;
  background-color:white;
  color:#CF090A;
}

.page_register div.action a:hover, div.action a:active, div.action a:focus{
  background-color:rgb(245,242,242);
  color:#CF090A;
}

 div.container-fluid.bg-white{
  background-color:white;
  height:10em;
}
.page_register .filter-form {
  background-color: white;
  padding: 3em 2em;

  box-shadow:0px 0px 48px 0px #000000;

  height: auto;
  overflow: hidden;
}
.page_register .title-form{
  margin-top: 2em;
  border-left: solid 3px #CF090A;
  padding-left:  20px;
  color: #989898;
  font-weight: 400;
}
 .page_register .btn-submit {
  padding: 10px 20px;
 }
 .page_register .action-footer{
  margin-top: 2.5em;
 }

