
  	.keanggotaan .box-keanggotaan-left{
  background-color:white;
  padding:20px 15px;
  width:9em;
  height:9em;
  box-shadow:1px 1px 38px 4px #bdbdbd;
  margin-left:-4.5em;
  margin-top:1.1em;
  text-align: center;
}

section.keanggotaan{
  background-color:#F2F2F2;
  padding-bottom:0em;
  margin-top: 6em;
}

div.sub-box-keanggotaan{
  background-color:white;
  padding:2em 0;
  max-height:21em;
  height:15em;
}
.title-page-news{
	padding-bottom: 0;
}
.keanggotaan .content-keanggotaan{
  padding:1em 5em;
}

.text-bold{
  font-weight:bold;
}

span.website-anggota{
  color:#D10909;
}

.keanggotaan .box-keanggotaan-right ul li{
  padding:5px 0;
}

.box-keanggotaan{
  padding:15px 4em;
}
.filter-box-mg-keanggotaan{
	text-align: center;
	display: inline-block;
}
.keanggotaan .box-keanggotaan-right ul li ul li{
    padding:0; 
}
.logo-instansi{
    width: auto;
    max-width: 85px;
    height: auto;
    max-height: 85px;
}
@media(max-width:900px){
.keanggotaan .content-keanggotaan{
    padding: 5px 2em;
}
.box-keanggotaan{
    padding: 0 7px !important;
}
.keanggotaan .content-keanggotaan{
    padding: 15px;
}
.box-keanggotaan{
    padding: 0;
    margin: 15px 0;
}
div.sub-box-keanggotaan{
    height: auto;
    max-height: none;
    text-align: center;
    padding-bottom: 15px;
}
.box-keanggotaan-right{
    margin-top: 20px;
}
.keanggotaan .box-keanggotaan-left{
    margin-left: 0;
    display: inline-block;
}
}
@media(max-width:400px){
.keanggotaan .content-keanggotaan{
    padding: 15px;
}
.box-keanggotaan{
    padding: 0;
    margin: 15px 0;
}
div.sub-box-keanggotaan{
    height: auto;
    max-height: none;
    text-align: center;
    padding-bottom: 15px;
}
.box-keanggotaan-right{
    margin-top: 20px;
}
.keanggotaan .box-keanggotaan-left{
    margin-left: 0;
    display: inline-block;
}

}

